<script>
function showDropdown() {
  document.getElementById("adminDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<div class="header">
    <a href="/" class="logo">lusco-fusco</a>
    <div style="float:right">
        {% if session.get('logged_in') %}
        <p>Hi: <a style="color:white"href="{{url_for('profile.details')}}">{{ session.get('user_name') }}</a></p>
            <form action="{{url_for('auth.logout')}}" method="post">
                <button type="submit" >Logout</button>
            </form>
            <!-- Admin DropDown -->
            {% if session.get('is_admin') %}
                <div class="dropdown">
                    <button onclick="showDropdown()" class="dropbtn">Admin</button>
                    <div id="adminDropdown" class="dropdown-content">
                        <a href="{{url_for('article.list_all')}}">Articles</a>
                        <a href="{{url_for('user.list_all')}}">Users</a>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <a style="color:white" href="{{url_for('auth.login')}}">Login</a>
        {% endif %}
    </div>
</div>
