<script>
function showDropdown() {
  document.getElementById("adminDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<div class="header">
    <!-- Logo -->
    <a href="/" ><image class="logo" src="/static/images/luscofusco_logotipo_B_Y.svg" alt="luscofusco logo"></image></a>
    
    <!-- User actions -->
    <div class="user">
        {% if session.get('logged_in') %}
        <!-- Profile link -->
          <span>Hi! <a href="{{url_for('profile.details')}}">{{ session.get('user_name') }}</a>
          </span>
        
          <!-- Admin DropDown -->
          {% if session.get('is_admin') %}
              <div class="dropdown">
                  <button onclick="showDropdown()" class="dropbtn no-button link">Admin</button>
                  <div id="adminDropdown" class="dropdown-content">
                      <a href="{{url_for('article.list_all')}}">Articles</a>
                      <a href="{{url_for('user.list_all')}}">Users</a>
                  </div>
              </div>
          {% endif %}

        <!-- Logout -->
        <form class="logout" action="{{url_for('auth.logout')}}" method="post">
          <button class="no-button link" type="submit">Logout</button>
        </form>

        {% else %}
        <!-- Login -->
        <a href="{{url_for('auth.login')}}">Login</a>
        {% endif %}
    </div>
</div>
