{% extends 'layout.html' %}

{% block content %}

<div class="profile">
    <h2>{{current_user.email}}</h2>
    <p>{{current_user.first_name}}</p>
    <p>{{current_user.last_name}}</p>
    <p>{{current_user.role.name}}</p>
    <div>
        <p><a href="{{url_for('profile.update_details')}}">edit your account</a></p>
        <p><a href="{{url_for('profile.update_password')}}">change password</a></p>
        <form action="{{url_for('profile.delete')}}" method="post">
                <button type="submit" >delete</button>
        </form>
    </div>
</div>
{% endblock %}