{% extends 'layout.html' %}

{% block content %}
    <div class="cover"> 
        <image src="static/images/andrea_avatar.svg" alt="avatar"></image>
    </div>
    <section class="account">
        <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
        <h5>Email:</h5>
        <span>{{current_user.email}}</span>
        
        <section>
            <h5>You can...</h5>
                <div class="actions">
                    <a href="{{url_for('profile.update_password')}}" class="password">🔑 change password</a>
                    <a href="{{url_for('profile.update_details')}}" class="edit">✏️ Edit profile</a>
                    <form action="{{url_for('profile.delete')}}" method="post" class="delete">
                            <button type="submit" class="no-button link" >🗑️ Delete account</button>
                    </form>
                </div>
        </section>
    </section>
{% endblock %}