{% extends 'layout.html' %}

{% block content %}

<div class="article-form">
    <h2>Edit your password</h2>
    <form method="post">
        <!-- Password -->
        <div class="field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value=""/>
        </div>

        <!-- Password confirm -->
        <div class="field">
            <label for="password_confirm">Password (again):</label>
            <input type="password" id="password_confirm" name="password_confirm" value=""/>
        </div>

        <!-- Button -->
        <button class="primary-button" type="submit" >update</button>
    </form>
</div>
{% endblock %}