{% extends 'layout.html' %}

{% block content %}
<div class="login-bg">
    <div class="form-container">
        <h1 class="form-title">WELCOME BACK!</h1>
        <form method="post">
            <!-- email -->
            <div class="field">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="{{email}}" />
            </div>

            <!-- password -->
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="{{password}}" />
            </div>

            <!-- Button -->
            <button class="primary-button" type="submit">Login</button>
        </form>
        <div class="register-link">
            Not a member? <a href="{{url_for('user.register')}}">Register now</a>
        </div>
    </div>
</div>
{% endblock %}