{% extends 'layout.html' %}

{% block content %}
    <script>
      $(function() {
        $('a.delete').bind('click', function() {
            $.ajax({
                url: '/user/' + $(this).attr('id'),
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                }
            });
        });
      });

      $(function() {
        $('a.restore').bind('click', function() {
            $.ajax({
                url: '/user/' + $(this).attr('id') + '/restore',
                type: 'PATCH',
                success: function(result) {
                    location.reload();
                }
            });
        });
      });
    </script>
    
    <section>
        <!-- User table -->
        <table>
            <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>Enabled?</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><span>{{ user.email }}</span></td>
                    <td><span>{{ user.first_name }}</span></td>
                    <td><span>{{ user.last_name }}</span></td>
                    <td><span>{{ user.role.name }}</span></td>
                    <td><span>{{ user.enabled }}</span></td>
                    <td>
                        {% if user.enabled %}
                            <a href="#" class="delete" id={{user.id}}>🗑️</a>
                        {% else %}
                            <a href="#" class="restore" id={{user.id}}>💱</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}