{% extends 'layout.html' %}

{% block content %}

<script>
// Article reaction
$(function() {
    $('a.emotion').bind('click', function() {
        $.ajax({
            url: $(location)[0].pathname.replace('article', 'reaction'),
            type: 'POST',
            data: JSON.stringify({ "emotion": $(this).attr('id') }),
            contentType: 'application/json; charset=utf-8',
            success: function(result) {
                location.reload();
            }
        });
    });
});

// Delete comment
$(function() {
    $('a.delete').bind('click', function() {
        $.ajax({
            url: '/comment/' + $(this).attr('id'),
            type: 'DELETE',
            success: function(result) {
                location.reload();
            }
        });
    });
});
</script>

<div class="article-info">
    <h1>{{title}}</h1>
    <!-- <h4>{{subtitle}}</h4> We have to add this attribute to Article's class--> 
    <div><span>{{creation_date.strftime('%d-%m-%Y')}}</span></div>
    <p class="article-body">{{body}}</p>

     <!-- Emotions -->
    <div class="emotions">
        <a href="#" class="emotion idea {{ 'reaction' if user_reaction == 'IDEA' }}"
            id="idea">💡{{reactions.get('IDEA', 0)}}</a>
        <a href="#" class="emotion bug {{ 'reaction' if user_reaction == 'BUG' }}"
            id="bug">🐞{{reactions.get('BUG', 0)}}</a>
        <a href="#" class="emotion clap {{ 'reaction' if user_reaction == 'CLAP' }}"
            id="clap">👏{{reactions.get('CLAP', 0)}}</a>
        <a href="#" class="emotion love {{ 'reaction' if user_reaction == 'LOVE' }}"
            id="love">💕{{reactions.get('LOVE', 0)}}</a>
        <a href="#" class="emotion party {{ 'reaction' if user_reaction == 'PARTY' }}"
            id="party">🎉{{reactions.get('PARTY', 0)}}</a>
        <a href="#" class="emotion wizard {{ 'reaction' if user_reaction == 'WIZARD' }}"
            id="wizard">🧙{{reactions.get('WIZARD', 0)}}</a>
    </div>


    <section class="comments-section">
        <h4>Comments:</h4>
        <form action="{{url_for('comment.create', article_id=id)}}" method="post">
            <!-- Comment form -->
            <div class="field">
                <label for="comment_text">Give us your opinion:</label>
                <textarea type="text" id="comment_text" name="comment_text" rows="5"></textarea>
            </div>
            <!-- Button -->
            <button class="primary-button" type="submit">Comment!</button>
        </form>
        <!-- List all comments -->
        <div class="comments">
            {% for comment in comments %}
            <li>
                <div class="comment">
                    <div class="comment-actions">
                        {% if session.get('is_admin') or comment.user_id == session.get('user_id') %}
                        <a href="#" class="delete" id={{comment.id}}>🗑️</a>
                        {% endif %}
                    </div>
                    <p>{{comment.text}}</p>
                    <div class="comment-author">
                        <span>{{comment.commenter.first_name}}</span>
                        <span>{{comment.creation_date.strftime('%d-%m-%Y')}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}