{% extends 'layout.html' %}

{% block content %}
    <script>
      $(function() {
        $('a.delete').bind('click', function() {
            $.ajax({
                url: '/article/' + $(this).attr('id'),
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                }
            });
        });
      });

      $(function() {
        $('a.restore').bind('click', function() {
            $.ajax({
                url: '/article/' + $(this).attr('id') + '/restore',
                type: 'PATCH',
                success: function(result) {
                    location.reload();
                }
            });
        });
      });
    </script>

    <section>
        <div>
            <a href="{{url_for('article.create')}}">➕ create</a>
        </div>
        <!-- Article table -->
        <table>
            <tr>
                <th>Article title</th>
                <th>Published?</th>
                <th>Actions</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td><a href="{{url_for('article.details', article_id=article.id)}}">{{ article.title }}</a></td>
                    <td><span>{{ article.enabled }}</span></td>
                    <td>
                        <a href="{{url_for('article.edit', article_id=article.id)}}">✏️</a>
                        {% if article.enabled %}
                            <a href="#" class="delete" id={{article.id}}>🗑️</a>
                        {% else %}
                            <a href="#" class="restore" id={{article.id}}>💱</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
   
{% endblock %}