{% extends 'layout.html' %}

{% block content %}
<div class="articles">
     <h2>{{ articles | length }} results looking for:</h2>
     <ul>
         {% if 'q' in filters %}
            <h3><li>{{ filters.get('q') }}</li></h3>
         {% elif 'writer' in filters %}
            <h3><li>Author: {{ filters.get('writer') }}</li></h3>
         {% elif 'tag' in filters %}
            <h3><li>Tag: {{ filters.get('tag') }}</li></h3>
         {% endif %}
     </ul>
    {% for article in articles %}
         <div class="article">
            <a class="article-title" href="{{url_for('article.details', article_id=article.id)}}">{{ article.title }}</a>
             <div class="article-body">
                 {{ article.body | truncate(250) }}
             </div>
         </div>
    {% endfor %}
 </div>
{% endblock %}
